sqlalchemy
psycopg2-binary
telethon
mautrix
pyrogram
tgcrypto
cryptg
selenium
python-dotenv
bs4
requests
cloudscraper
img2pdf
pillow
AnilistPython
undetected-chromedriver 
html-telegraph-poster
nhentai
hentai
natsort 
reportlab
pdfkit
aiofiles
PyMuPdf 
